/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}

/* COMMON */
.container{
    width: 80%;
    margin: auto;
}

/* struttura per layout */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    background-color: #abcfe7;
    height: 400px;
    float: left;
}

/* HEADER */
.header-top img{
    height: 80px;
}

.header-link{
    margin: 20px 0;
}

.header-link ul{
    list-style-type: none;
}

.header-link li{
    display: inline-block;
    padding-right: 10px;
}

.header-link a{
    color: #909090;
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
}

.header-bottom{
    height: 345px;
    background-color: #e1d67a;
    margin: 30px 0;
}

/* MAIN */
main{
    background-color: #0185fd;
    margin: 10px 0;
}

/* Colonne superiori */
.col-superiore{
    background-color: #abcfe7;
    height: 70px;
}

/* Colonne inferiori */
.col-inferiore{
    width: 100%;
    padding: 20px 0 10px 0;
}

.col-sinistra, .col-destra{
    width: 23.5%;

}

.col-centro{
    width: 50%;
    margin: 0 1.5%;
}

/* FOOTER */
.col-footer{
    height: 50px;
    background-color: #8801fe;
}