/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}

/* COMMON */
.container{
    width: 80%;
    margin: auto;
}

/* struttura per layout */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.layout-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: inherit;
}

.col{
    height: 325px;
    float: left;
}

.col-bottom{
    float: left;
}

/* HEADER */
.header-top img{
    height: 80px;
}

.header-link{
    margin: 25px 0;
}

.header-link ul{
    list-style-type: none;
}

.header-link li{
    display: inline-block;
    padding-right: 10px;
}

.header-link a{
    color: #909090;
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
}

.header-bottom{
    position: relative;
    height: 900px;
    background-color: #e1d67a;
    margin: 30px 0;
    background-image: url("../img/banner.jpg");
}

.info-header-bottom{
    position: absolute;
    left: 60px;
    bottom: 120px;
    width: 50%;
}

.info-header-bottom h2, p{
    color: #fefefe;
}

.info-header-bottom h2{
    font-size: 50px;
}

.info-header-bottom p{
    font-size: 20px;
}

/* MAIN */
main{
    margin: 10px 0;
}

/* Colonne superiori */
.col-superiore{
    margin: 20px 0;
}

.col-superiore-top{
    font-size: 60px;
    font-weight: bold;
}

.col-superiore-bottom{
    font-size: 20px;
    color: #909090;
}

/* Colonne inferiori */
.col-inferiore{
    width: 100%;
    padding: 20px 0 10px 0;
    position: relative;
}

.col-sinistra, .col-destra{
    width: 23.5%;
    position: relative;
}

.col-sinistra{
    background-image: url("../img/img-1.jpg");
}

.col-centro{
    position: relative;
    width: 50%;
    margin: 0 1.5%;
    background-image: url("../img/banner-2.jpg");
}

.col-destra{
    background-image: url("../img/img-3.jpg");
}

.col-sinistra-bottom, .col-destra-bottom{
    width: 23.5%;
}

.col-centro-bottom{
    width: 50%;
    margin: 0 1.5%;
}

.col-inferiore h3{
    margin-bottom: 10px;
}

.col-inferiore p{
    color: #909090;
}

/* FOOTER */

footer{
    font-weight: bold;
}

.col-footer{
    height: 50px;

    margin: 20px 0;
    text-align: center;
}

.heart{
    color: red;
    font-size: 25px;
}